<!DOCTYPE html>  
<html>  
<head>  
    <title>List of shares</title>  
</head>  
<body>  
  
<h3>Shares Information</h3>  

<h3>{{msg}}</h3>  

<form action = "/update" method="post">  
    <table>   
        <tr><td>ID<td><input type="number" name="id" value='{{ id }}'></td></tr> 
        <tr><td>Asset</td><td><input type="text" name="asset" value='{{ asset }}'></td></tr>  
        <tr><td>Date</td><td><input style="background-color: gray" type="text" name="order_date" id="date" readonly value='{{ date }}'></td></tr>  
        <tr><td>Amount</td><td><input type="number" name="amount" value='{{ amount }}'></td></tr>  
        <tr><td>Price</td><td><input type="number" step="any" name="price" value='{{ price }}'></td></tr>  
        <tr><td><input type="submit" name="submit" value="Get details"></td></tr>
        <tr><td><input type="submit" name="submit" value="Update"></td></tr>
    </table>  
</form> 
    
<table border=5>  
    <thead>  
        <td>ID</td>  
        <td>Asset</td>  
        <td>Order Date</td>  
        <td>Amount</td>  
        <td>Price</td>
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["asset"]}}</td>  
            <td>{{row["order_date"]}}</td>  
            <td>{{row["amount"]}}</td>  
            <td>{{row["price"]}}</td>  
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html>  